standards/mods/mods march 8 version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Ray Denenberg (Library of Congress) -->
<xsd:schema targetNamespace="http://www.loc.gov/mods/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.loc.gov/mods/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- 
	
v 1.0 R1  March 8, 2002   
	
	  High level elements are in this order:	
 
title
name
type of resource
genre
publication
date
language
form/physical description
abstract
target audience
note
cartographics  
subject
related item
identifier
location
access conditions
extension
record info



-->
	<xsd:element name="mods">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="titleType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="name" type="nameType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="typeOfResource" type="typeOfResourceType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="genre" type="genreType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="publication" type="publicationType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="date" type="dateType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="language" type="languageType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="formAndPhysicalDescription" type="formAndPhysicalDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="abstract" type="abstractType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="targetAudience" type="targetAudienceType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="note" type="noteType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="cartographics" type="cartographicsType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="subject" type="subjectType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="relatedItem" type="relatedItemType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="identifier" type="identifierType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="location" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation> 852 $a $b$j  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="accessCondition" type="accessConditionType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="extension" type="extensionType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="recordInfo" type="recordInfoType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<!-- 

  End of root element definition. Data type definitions begin.  
	   
	 
	 
	       ********** titleType definition ********** 
	
	-->
	<xsd:complexType name="titleType" mixed="true">
		<xsd:sequence>
			<xsd:element name="part" type="partType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:documentation> if this attribute is omitted, then 245$a  $b  $n  and $p</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="abbreviated">
						<xsd:annotation>
							<xsd:documentation> 210 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="translated">
						<xsd:annotation>
							<xsd:documentation> 242 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="alternative">
						<xsd:annotation>
							<xsd:documentation> 246 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="uniform">
						<xsd:annotation>
							<xsd:documentation> 240, 130 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="partType">
		<xsd:sequence>
			<xsd:element name="nameOfPart" minOccurs="0"/>
			<xsd:element name="numberOfPart" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  
	
	
        **********  nameType definition  ********** 
	
	
	-->
	<xsd:complexType name="nameType" mixed="true">
		<xsd:sequence>
			<xsd:element name="component" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="displayForm" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> 245$c		</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="affiliation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> 100, 700 $u	</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
		<xsd:attribute name="type" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="personal">
						<xsd:annotation>
							<xsd:documentation> 100, 700 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="corporate">
						<xsd:annotation>
							<xsd:documentation> 110, 710.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="conference">
						<xsd:annotation>
							<xsd:documentation> 111, 711 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="uncontrolled">
						<xsd:annotation>
							<xsd:documentation>  720  </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="role" use="optional">
			<xsd:annotation>
				<xsd:documentation> 100, 110, 700, 710 711 $e </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="authority" use="optional">
			<xsd:annotation>
				<xsd:documentation>  
				Value is from the list at 
				http:/www.loc.gov/marc/sourcecode/authorityfile</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- notes:
1.  This definition supports: 
  - a flat non-corporate name
  - a flat corporate name 
  - a structured  corporate name
 2.	Any of these may be followed by the "displayForm" value.
  (DisplayForm is for a non-structured form of the name.)
3. Flat names (corporate and non-corporate) are expressed 
as content of 'name' without subordinate element.	
4. Structured corporate names are expressed 
in multiple components, each in element 'component' 
5. Flat names and individual components (but not "displayForm") 
are presumed structured, but the structure is not 
defined by this schema and not exposed by the XML markup.
6. The "component" element is to be used to represent hierarchy, 
not to represent structure for personal names.


	
	
   	  ********** typeOfResourceType  definition ********** 
	  
	  
	  -->
	<xsd:complexType name="typeOfResourceType">
		<xsd:annotation>
			<xsd:documentation> LDR/6 </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="resourceType">
				<xsd:attribute name="collection" use="optional">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="yes"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="manuscript" use="optional">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="yes"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="resourceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="text"/>
			<xsd:enumeration value="cartographic"/>
			<xsd:enumeration value="notated music"/>
			<xsd:enumeration value="sound recording"/>
			<xsd:enumeration value="still image"/>
			<xsd:enumeration value="moving image"/>
			<xsd:enumeration value="three dimensional object"/>
			<xsd:enumeration value="software, multimedia"/>
			<xsd:enumeration value="mixed material"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--  
	                                 
	           ********** genreType defintion  ********** 
	                                 
	-->
	<xsd:complexType name="genreType" mixed="true">
		<xsd:annotation>
			<xsd:documentation>008/26, 008/33, 008/29, 008/30,  008/24+, 008/21+, 008/25, 655 </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="controlledValue" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="abstract or summary"/>
						<xsd:enumeration value="art original"/>
						<xsd:enumeration value="art reproduction"/>
						<xsd:enumeration value="atlas"/>
						<xsd:enumeration value="bibliography"/>
						<xsd:enumeration value="biography"/>
						<xsd:enumeration value="catalog"/>
						<xsd:enumeration value="chart"/>
						<xsd:enumeration value="conference publication"/>
						<xsd:enumeration value="database"/>
						<xsd:enumeration value="dictionary"/>
						<xsd:enumeration value="diorama"/>
						<xsd:enumeration value="directory"/>
						<xsd:enumeration value="discography"/>
						<xsd:enumeration value="encyclopedia"/>
						<xsd:enumeration value="festschrift"/>
						<xsd:enumeration value="filmography"/>
						<xsd:enumeration value="filmstrip"/>
						<xsd:enumeration value="flash card"/>
						<xsd:enumeration value="font"/>
						<xsd:enumeration value="game"/>
						<xsd:enumeration value="graphic"/>
						<xsd:enumeration value="globe"/>
						<xsd:enumeration value="handbook"/>
						<xsd:enumeration value="index"/>
						<xsd:enumeration value="kit"/>
						<xsd:enumeration value="law report or digest"/>
						<xsd:enumeration value="legal article"/>
						<xsd:enumeration value="legal case and case notes"/>
						<xsd:enumeration value="legislation"/>
						<xsd:enumeration value="map"/>
						<xsd:enumeration value="microscope slide"/>
						<xsd:enumeration value="model"/>
						<xsd:enumeration value="motion picture"/>
						<xsd:enumeration value="multivolume monograph"/>
						<xsd:enumeration value="newspaper"/>
						<xsd:enumeration value="numeric data"/>
						<xsd:enumeration value="patent"/>
						<xsd:enumeration value="periodical"/>
						<xsd:enumeration value="picture"/>
						<xsd:enumeration value="programmed text"/>
						<xsd:enumeration value="realia"/>
						<xsd:enumeration value="remote sensing image"/>
						<xsd:enumeration value="review"/>
						<xsd:enumeration value="series"/>
						<xsd:enumeration value="slide"/>
						<xsd:enumeration value="statistics"/>
						<xsd:enumeration value="survey of literature"/>
						<xsd:enumeration value="technical drawing"/>
						<xsd:enumeration value="technical report"/>
						<xsd:enumeration value="theses"/>
						<xsd:enumeration value="toy"/>
						<xsd:enumeration value="transparency"/>
						<xsd:enumeration value="treaty"/>
						<xsd:enumeration value="loose-leaf"/>
						<xsd:enumeration value="web site"/>
						<xsd:enumeration value="videorecording"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="authority" use="optional">
			<xsd:annotation>
				<xsd:documentation>  
Value is from the list at http://www.loc.gov/marc/sourcecode/genre
</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--

	 ********** publicationType definition  ********** 
	
	
	-->
	<xsd:complexType name="publicationType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="placeOfPublicationCode">
				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>  008/15-17, 044      </xsd:documentation>
					</xsd:annotation>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="authority" use="optional">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="marc"/>
										<xsd:enumeration value="iso3166"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="placeOfPublication">
				<xsd:annotation>
					<xsd:documentation>  260 $a    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="publisher">
				<xsd:annotation>
					<xsd:documentation> 260 $b </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="edition">
				<xsd:annotation>
					<xsd:documentation> 250</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issuance">
				<xsd:annotation>
					<xsd:documentation> LDR/7 </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="continuing"/>
						<xsd:enumeration value="monographic"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="frequency">
				<xsd:annotation>
					<xsd:documentation> 310 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--This definition-with mixed="true"  minOccurs 0, 
maxOccurs "unbounded" on "choice"- is intended to allow either 
unstructured or structured content .-->
		</xsd:choice>
	</xsd:complexType>
	<!--  
	
	
	 ********** dateType definition  ********** 
	                      
	                      
	  -->
	<xsd:complexType name="dateType">
		<xsd:annotation>
			<xsd:documentation> 260 $c, 008/07-14, 033   </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="optional">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="issued"/>
							<xsd:enumeration value="created"/>
							<xsd:enumeration value="captured"/>
							<xsd:enumeration value="published"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attributeGroup ref="otherDateAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:attributeGroup name="otherDateAttributes">
		<xsd:attribute name="encoding" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="w3cdtf"/>
					<xsd:enumeration value="iso8601"/>
					<xsd:enumeration value="marc"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="point" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="start"/>
					<xsd:enumeration value="end"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<!--  
	
	 ********** languageType definition  ********** 
	                     
	
	-->
	<xsd:complexType name="languageType">
		<xsd:annotation>
			<xsd:documentation> 008/35-37 </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="authority" use="optional">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="rfc 3066"/>
							<xsd:enumeration value="iso 639-2b"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  
	
	
	 ********** formAndPhysicalDescriptionType definition ********** 
		
		
	-->
	<xsd:complexType name="formAndPhysicalDescriptionType">
		<xsd:sequence>
			<xsd:element name="form" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> 008/23 or 29 </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="braille"/>
						<xsd:enumeration value="electronic"/>
						<xsd:enumeration value="microfiche"/>
						<xsd:enumeration value="microfilm"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="internetMediaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>  856 $q </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>  256, 300 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="digitalOrigin" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="born digital"/>
					<xsd:enumeration value="reformatted digital"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--  
	

	 ********** abstractType Definition  ********** 

	-->
	<xsd:complexType name="abstractType">
		<xsd:annotation>
			<xsd:documentation> 520 </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="uri" use="optional">
					<xsd:annotation>
						<xsd:documentation> 
If the uri is supplied it is in lieu of or in addition to the content. 
					</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  


        ********** targetAudienceType definition  ********** 
         
  -->
	<xsd:simpleType name="targetAudienceType">
		<xsd:annotation>
			<xsd:documentation> 008/22, 521</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="adolescent"/>
			<xsd:enumeration value="adult"/>
			<xsd:enumeration value="general"/>
			<xsd:enumeration value="juvenile"/>
			<xsd:enumeration value="preschool"/>
			<xsd:enumeration value="specialized"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--  
	
	                    
	 ********** noteType definition ********** 
		                    
	-->
	<xsd:complexType name="noteType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="optional">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="table of contents">
								<xsd:annotation>
									<xsd:documentation> 505 </xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
							<xsd:enumeration value="performers">
								<xsd:annotation>
									<xsd:documentation> 511 </xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
							<xsd:enumeration value="venue">
								<xsd:annotation>
									<xsd:documentation> 518 </xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
				<xsd:attribute name="uri" use="optional">
					<xsd:annotation>
						<xsd:documentation> 
If the uri is supplied it is in lieu of or in addition to the content. 
					</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  


        ********** cartographicsType definition  ********** 
                             
  
  -->
	<xsd:complexType name="cartographicsType">
		<xsd:annotation>
			<xsd:documentation>  255      </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="coordinates" minOccurs="0"/>
			<xsd:element name="scale" minOccurs="0"/>
			<xsd:element name="projection" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--


	 ********** subjectType definition  ********** 
	
	-->
	<xsd:complexType name="subjectType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="topic">
				<xsd:annotation>
					<xsd:documentation> 650, 6xx $x </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="title" type="titleType">
				<xsd:annotation>
					<xsd:documentation> 630  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="geographic" maxOccurs="unbounded">
				<xsd:complexType mixed="true">
					<xsd:annotation>
						<xsd:documentation>   651, 6xx $z, or (if hierarchical) 752 </xsd:documentation>
					</xsd:annotation>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="area"/>
						<xsd:element name="city"/>
						<xsd:element name="continent"/>
						<xsd:element name="country"/>
						<xsd:element name="county"/>
						<xsd:element name="island"/>
						<xsd:element name="province"/>
						<xsd:element name="region"/>
						<xsd:element name="state"/>
						<xsd:element name="territory"/>
					</xsd:choice>
					<!--This definition-with mixed="true" and maxOccurs
"unbounded" on "choice"- is to allow
either a flat or hierarchical geographic name.-->
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="temporal">
				<xsd:annotation>
					<xsd:documentation> 6xx $y </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attributeGroup ref="otherDateAttributes"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="name" type="nameType">
				<xsd:annotation>
					<xsd:documentation>  600, 610, 611 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classification">
				<xsd:annotation>
					<xsd:documentation> 
050, 082, 080, 060, 086, 084. </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="authority" use="optional">
								<xsd:annotation>
									<xsd:documentation>  
Value is from the list at 
http:/www.loc.gov/marc/sourcecode/classification</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- This definition - with mixed="true" and maxOccurs 
unbounded on the choice - is to allow an 
unstructured string with zero or more intervening elements, 
"topic", "title", etc. -->
		</xsd:choice>
		<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
		<xsd:attribute name="authority" use="optional">
			<xsd:annotation>
				<xsd:documentation>  
Value is from the list at 
http:/www.loc.gov/marc/sourcecode/subject</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--  
	
**********   relatedItemType definition **********
	                                        	
	 -->
	<xsd:complexType name="relatedItemType">
		<xsd:sequence>
			<xsd:element name="title" type="titleType"/>
			<xsd:element name="name" type="nameType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="formAndPhysicalDescription" type="formAndPhysicalDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="identifier" type="identifierType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:ID" use="optional"/>
		<xsd:attribute name="type" use="optional">
			<xsd:annotation>
				<xsd:documentation> if type is omitted: 787, 700, 710, 711, 730 with $t and ind2 = blank </xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="preceding">
						<xsd:annotation>
							<xsd:documentation> 780 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="succeeding">
						<xsd:annotation>
							<xsd:documentation> 785 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="reproduction">
						<xsd:annotation>
							<xsd:documentation> 776 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="original">
						<xsd:annotation>
							<xsd:documentation> 534, 786 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="host">
						<xsd:annotation>
							<xsd:documentation>  772, 773 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="constituent">
						<xsd:annotation>
							<xsd:documentation> 770, 774, 700, 710, 711 with $t and ind2 = 2 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="series">
						<xsd:annotation>
							<xsd:documentation> 490, 440, 760, 800, 810, 811, 830 </xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--
	
	
********** identifiers ********** 
	                    
	
	-->
	<xsd:complexType name="identifierType">
		<xsd:annotation>
			<xsd:documentation> 010, 020, 022, 024, 028, 856 </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="doi"/>
							<xsd:enumeration value="isbn"/>
							<xsd:enumeration value="isrc"/>
							<xsd:enumeration value="ismn"/>
							<xsd:enumeration value="issn"/>
							<xsd:enumeration value=" Issue number"/>
							<xsd:enumeration value="istc"/>
							<xsd:enumeration value="lccn"/>
							<xsd:enumeration value="local"/>
							<xsd:enumeration value="matrix number"/>
							<xsd:enumeration value="music publisher"/>
							<xsd:enumeration value="music plate"/>
							<xsd:enumeration value="sici"/>
							<xsd:enumeration value="uri"/>
							<xsd:enumeration value="upc"/>
							<xsd:enumeration value="videorecording identifier"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  	

**********  accessConditionType definition **********
	                                         	
	 -->
	<xsd:complexType name="accessConditionType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="restrictionOnAccess">
								<xsd:annotation>
									<xsd:documentation> 506 </xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
							<xsd:enumeration value="useAndReproduction">
								<xsd:annotation>
									<xsd:documentation> 540 </xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- 
	
**********        extensionType definition	  ********** 
	  
	  -->
	<xsd:complexType name="extensionType" mixed="true">
		<xsd:annotation>
			<xsd:documentation> for local extensions </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any processContents="skip" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  
	
**********  recordInfoType definition 	**********
	                                  	
 -->
	<xsd:complexType name="recordInfoType">
		<xsd:sequence>
			<xsd:element name="recordContentSource" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> 040 $a, $d </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recordCreationDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>  008/00-05   </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attributeGroup ref="otherDateAttributes"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="recordChangeDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> 005 </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attributeGroup ref="otherDateAttributes"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="recordIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="source" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<!--
 Each instance of "recordInfo" should include zero or more sources; 
zero or one date, either a create date or change date, 
but not both; and zero or more identifiers
.-->
	</xsd:complexType>
</xsd:schema>
